/*----------------------------------------------------------------------------
  Variables
----------------------------------------------------------------------------*/

$color-black: #000000;
$color-white: #ffffff;
$color-blue: #0873ba;
$color-yellow: #ffcf00;
$color-teal: #1ba7a6;

$color-grey-d8: #d8d8d8;

$color-brand-primary: $color-blue;
$color-brand-secondary: $color-yellow;
$color-brand-highlight: $color-teal;

$color-border-color: $color-grey-d8;
$gradient-linear: linear-gradient(99deg, #1ba7a6, #1ba7a6 20%, #0672b9);
