.service-times {
  padding: 40px;
  object-fit: contain;
  color: $color-white;
  background-image: $gradient-linear;

  @include breakpoint(tablet-port) {
    display: flex;

    .title {
      flex: 1;
    }

    .service-times__wrapper {
      display: flex;

      > div {
        flex: 1;
        justify-content: space-around;
      }
    }
  }
}
