<div class="service-times">
  <div class="service-times__title">Service Times</div>
  <div class="service-times__wrapper">
    <div class="service-time">
      <div class="time">8:50AM</div>
      <div class="title">traditional worship</div>
    </div>
    <div class="service-time">
      <div class="time">9:50AM</div>
      <div class="title">Sunday School</div>
    </div>
    <div class="service-time">
      <div class="time">10:50AM</div>
      <div class="title">modern worship</div>
    </div>
  </div>
</div>
