<header class="header">
  <div class="eyebrow">
    <div class="container">
      <a href="#" class="button button--outline">I'm New Here</a>
    </div>
  </div>
  <div class="main">
    <div class="container">
      <div class="logo">
        <img src="assets/images/logo1.png" alt="First Methodist Church" />
      </div>
      <div class="nav--toggle">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <nav class="primary">
        <ul class="primary-nav">
          <li class="primary-nav__item has-children">
            <a href="#">About</a>
            <ul class="child-nav">
              <li class="primary-nav__item--child-item">
                <a href="#">Contact Us</a>
              </li>
              <li class="primary-nav__item--child-item">
                <a href="#">About Us</a>
              </li>
              <li class="primary-nav__item--child-item">
                <a href="#">Leadership</a>
              </li>
            </ul>
          </li>
          <li class="primary-nav__item has-children">
            <a href="#">Connect</a>
            <ul class="child-nav">
              <li class="primary-nav__item--child-item">
                <a href="#">Ministries</a>
              </li>
              <li class="primary-nav__item--child-item">
                <a href="#">Events</a>
              </li>
            </ul>
          </li>
          <li class="primary-nav__item"><a href="#">Resource</a></li>
          <li class="primary-nav__item"><a href="#">Give</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="hero">
    <div class="hero--text">
      <h1 class="headline">Worship. Connect. Renew.</h1>
      <div class="subhead">We're glad you're here!</div>
    </div>
  </div>
</header>
