<div class="ministries">
  <div class="ministries--block">
    <div
      class="ministries--block__image"
      style="background-image: url('../assets/images/Ministries.jpg');"
    >
      <div class="ministries--block__title">children’s day out</div>
    </div>
    <div class="ministries--block__link"><a href="#">Learn More</a></div>
  </div>
  <div class="ministries--block">
    <div
      class="ministries--block__image"
      style="background-image: url('../assets/images/Ministries1.jpg');"
    >
      <div class="ministries--block__title">Sunday Ministries</div>
    </div>
    <div class="ministries--block__link"><a href="#">Learn More</a></div>
  </div>
  <div class="ministries--block">
    <div
      class="ministries--block__image"
      style="background-image: url('../assets/images/Ministries2.jpg');"
    >
      <div class="ministries--block__title">Kingdom Kids</div>
    </div>
    <div class="ministries--block__link"><a href="#">Learn More</a></div>
  </div>
</div>
