<div class="cta_block cta_block--withimage">
  <div class="cta_block--image">
    <img src="https://source.unsplash.com/random" alt="random" />
  </div>
  <div class="cta_block--content-wrap">
    <div class="cta_block--title">Start a journey with us</div>
    <div class="cta_block--content">
      <p>
        Joining us for Worship not only brings you closer in relationship to God
        but allows you to Connect with fellow members and gives an opportunity
        to Renew body and spirit.
      </p>
    </div>
    <div class="cta_block--link">
      <a class="button--solid hear" href="#">Listen</a>
    </div>
  </div>
</div>
