/*----------------------------------------------------------------------------
  Variables
----------------------------------------------------------------------------*/

$color-black: #000000;
$color-white: #ffffff;
$color-blue: #0873ba;
$color-blue-dark: #253b84;
$color-yellow: #ffcf00;
$color-yellow-dark: #dbb326;
$color-teal: #1ba7a6;

$color-grey-f3: #f3f3f3;
$color-grey-d8: #d8d8d8;
$color-grey-52: #525252;
$color-grey-90: #90908B;
$color-grey-97: #979797;

$color-brand-primary: $color-blue;
$color-brand-secondary: $color-yellow-dark;
$color-brand-secondary-bright: $color-yellow;
$color-brand-highlight: $color-teal;
$color-text-light: $color-grey-52;

$color-border-color: $color-grey-d8;
$gradient-linear: linear-gradient(99deg, #1ba7a6, #1ba7a6 20%, #0672b9);

$font-body: proxima-nova, sans-serif;
$font-heading: "Fjalla One", sans-serif;
