/*-----------------------------------------------------------------------------
  Table of Contents
  - Vendor
  - Globals
  - Plugins
  - Pages
  - Parts
  - Components
-----------------------------------------------------------------------------*/

/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */

/* Document
       ========================================================================== */

/**
     * 1. Correct the line height in all browsers.
     * 2. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */

html {
	line-height: 1.15; /* 1 */
	-ms-text-size-adjust: 100%; /* 2 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
       ========================================================================== */

/**
     * Remove the margin in all browsers (opinionated).
     */

body {
	margin: 0;
}

/**
     * Add the correct display in IE 9-.
     */

article,
aside,
footer,
header,
nav,
section {
	display: block;
}

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

/* Grouping content
       ========================================================================== */

/**
     * Add the correct display in IE 9-.
     */

figcaption,
figure {
	display: block;
}

/**
     * Add the correct margin in IE 8.
     */

figure {
	margin: 1em 40px;
}

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */

hr {
	-webkit-box-sizing: content-box;
	box-sizing: content-box; /* 1 */
	height: 0; /* 1 */
	overflow: visible; /* 2 */
}

/**
     * Add the correct display in IE.
     */

main {
	display: block;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */

pre {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/* Links
       ========================================================================== */

/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */

a {
	background-color: transparent; /* 1 */
	-webkit-text-decoration-skip: objects; /* 2 */
}

/* Text-level semantics
       ========================================================================== */

/**
     * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */

abbr[title] {
	border-bottom: none; /* 1 */
	text-decoration: underline; /* 2 */
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted; /* 2 */
}

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */

b,
strong {
	font-weight: inherit;
}

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */

b,
strong {
	font-weight: bolder;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */

code,
kbd,
samp {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
     * Add the correct font style in Android 4.3-.
     */

dfn {
	font-style: italic;
}

/**
     * Add the correct background and color in IE 9-.
     */

mark {
	background-color: #ff0;
	color: #000;
}

/**
     * Add the correct font size in all browsers.
     */

small {
	font-size: 80%;
}

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Embedded content
       ========================================================================== */

/**
     * Add the correct display in IE 9-.
     */

audio,
video {
	display: inline-block;
}

/**
     * Add the correct display in iOS 4-7.
     */

audio:not([controls]) {
	display: none;
	height: 0;
}

/**
     * Remove the border on images inside links in IE 10-.
     */

img {
	border-style: none;
}

/**
     * Hide the overflow in IE.
     */

svg:not(:root) {
	overflow: hidden;
}

/* Forms
       ========================================================================== */

/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */

button,
input,
optgroup,
select,
textarea {
	font-family: sans-serif; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
     * Show the overflow in IE.
     */

button {
	overflow: visible;
}

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */

button,
select { /* 1 */
	text-transform: none;
}

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */

button,
html [type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button; /* 2 */
}

button,
[type="button"],
[type="reset"],
[type="submit"] { /**
       * Remove the inner border and padding in Firefox.
       */ /**
       * Restore the focus styles unset by the previous rule.
       */
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
     * Show the overflow in Edge.
     */

input {
	overflow: visible;
}

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */

[type="checkbox"],
[type="radio"] {
	-webkit-box-sizing: border-box;
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */

[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */ /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/**
     * Correct the padding in Firefox.
     */

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */

legend {
	-webkit-box-sizing: border-box;
	box-sizing: border-box; /* 1 */
	display: table; /* 1 */
	max-width: 100%; /* 1 */
	padding: 0; /* 3 */
	color: inherit; /* 2 */
	white-space: normal; /* 1 */
}

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */

progress {
	display: inline-block; /* 1 */
	vertical-align: baseline; /* 2 */
}

/**
     * Remove the default vertical scrollbar in IE.
     */

textarea {
	overflow: auto;
}

/* Interactive
       ========================================================================== */

/*
     * Add the correct display in Edge, IE, and Firefox.
     */

details {
	display: block;
}

/*
     * Add the correct display in all browsers.
     */

summary {
	display: list-item;
}

/*
     * Add the correct display in IE 9-.
     */

menu {
	display: block;
}

/* Scripting
       ========================================================================== */

/**
     * Add the correct display in IE 9-.
     */

canvas {
	display: inline-block;
}

/**
     * Add the correct display in IE.
     */

template {
	display: none;
}

/* Hidden
       ========================================================================== */

/**
     * Add the correct display in IE 10-.
     */

[hidden] {
	display: none;
}

/*----------------------------------------------------------------------------
  Variables
----------------------------------------------------------------------------*/

.button--solid {
	border-radius: 8px;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 0.8rem;
	letter-spacing: 4px;
	padding: 7px 25px;
	display: inline-block;
	background-color: #dbb326;
	-webkit-transition: 0.1s ease-out all;
	-o-transition: 0.1s ease-out all;
	transition: 0.1s ease-out all;
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	line-height: 1;
}

.button--solid:hover {
	background-color: #b1901d;
}

.button--solid.hear:after {
	content: "";
	background: url("../images/ear.png") no-repeat;
	background-size: contain;
	display: block;
	height: 40px;
	width: 40px;
	margin-left: 10px;
}

.button--solid.wave:after {
	content: "";
	background: url("../images/hand.png") no-repeat;
	background-size: contain;
	display: block;
	height: 24px;
	width: 24px;
	margin-left: 10px;
}

.button--outline {
	border-radius: 8px;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 0.8rem;
	letter-spacing: 4px;
	padding: 7px 25px;
	display: inline-block;
	border: 2px solid #ffffff;
	-webkit-transition: 0.1s ease-out all;
	-o-transition: 0.1s ease-out all;
	transition: 0.1s ease-out all;
}

.button--outline:hover {
	background: rgba(0, 0, 0, 0.2);
	-webkit-transition: 0.1s ease-in all;
	-o-transition: 0.1s ease-in all;
	transition: 0.1s ease-in all;
}

.button--outline__dark {
	border-radius: 8px;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 0.8rem;
	letter-spacing: 4px;
	padding: 7px 25px;
	display: inline-block;
	border: 2px solid #0873ba;
	-webkit-transition: 0.1s ease-out all;
	-o-transition: 0.1s ease-out all;
	transition: 0.1s ease-out all;
	color: #0873ba;
}

.button--outline__dark:hover {
	background: rgba(0, 0, 0, 0.2);
	-webkit-transition: 0.1s ease-in all;
	-o-transition: 0.1s ease-in all;
	transition: 0.1s ease-in all;
}

/*------------------------------------------------------------------------------
  Global Styles
------------------------------------------------------------------------------*/

/* Set box sizing to elimate math in the padding */

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100%;
	border: 0;
}

html,
html a {
	-webkit-font-smoothing: antialiased !important;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

body {
	font: 100%/1.25 proxima-nova, sans-serif;
	min-height: 100%;
}

p:empty {
	display: none !important;
}

table {
	margin: 0 0 18px;
}

/* keep images from spilling out of columns */

img {
	max-width: 100%;
	height: auto;
}

.flex-video {
	position: relative;
	height: 0;
	padding-top: 0;
	padding-bottom: 56.25%;
	margin-bottom: 1rem;
	overflow: hidden;
}

.flex-video iframe,
.flex-video object,
.flex-video embed,
.flex-video video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*------------------------------------------------------------------------------
  Typography
------------------------------------------------------------------------------*/

a {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: "Fjalla One", sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 400;
	color: #0873ba;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 2em;
}

/*------------------------------------------------------------------------------
  WordPress CSS - https://codex.wordpress.org/CSS#WordPress_Generated_Classes
------------------------------------------------------------------------------*/

.alignnone {
	margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
	display: block;
	margin: 5px auto;
}

.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}

.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

a img.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}

a img.alignnone {
	margin: 5px 20px 20px 0;
}

a img.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption {
	background: #fff;
	border: 1px solid #f0f0f0;
	max-width: 96%; /* Image does not overflow the content area */
	padding: 5px 3px 10px;
	text-align: center;
}

.wp-caption.alignnone {
	margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
	margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
	margin: 5px 0 20px 20px;
}

.wp-caption img {
	border: 0 none;
	height: auto;
	margin: 0;
	max-width: 98.5%;
	padding: 0;
	width: auto;
}

.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	margin: 0;
	padding: 0 4px 5px;
}

/* Text meant only for screen readers. */

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: .875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/*------------------------------------------------------------------------------
  Footer
------------------------------------------------------------------------------*/

.footer-info {
	background: #d8d8d8;
	padding: 10px;
}

.footer-info__logo {
	text-align: center;
	margin-bottom: 1em;
}

.footer-info__logo img {
	max-width: 325px;
}

.footer-info__address {
	text-transform: uppercase;
	font-weight: 700;
	color: #0873ba;
	padding: 0 15px;
	line-height: 1.5;
	letter-spacing: 2px;
	margin-bottom: 1em;
}

.footer-info__address p {
	margin: 0;
}

.footer-info__address a {
	color: #0873ba;
}

.footer-info__address a:hover {
	text-decoration: underline;
}

.footer-info__buttons p {
	margin: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.footer-info__buttons .facebook {
	background: url("../img/facebook.png") no-repeat;
	background-size: contain;
	display: block;
	height: 45px;
	width: 45px;
	text-indent: -9999px;
	margin-right: 1em;
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 45px;
	-ms-flex: 0 0 45px;
	flex: 0 0 45px;
}

.footer-menu {
	padding: 2em 0;
	background: url("../img/texture1.png") repeat;
	background-size: 100%;
}

.footer-menu .footer-nav,
.footer-menu #menu-footer {
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer-menu .footer-nav__item.has-children,
.footer-menu .footer-nav__item.menu-item-has-children,
.footer-menu .footer-nav .menu-item.has-children,
.footer-menu .footer-nav .menu-item.menu-item-has-children,
.footer-menu #menu-footer__item.has-children,
.footer-menu #menu-footer__item.menu-item-has-children,
.footer-menu #menu-footer .menu-item.has-children,
.footer-menu #menu-footer .menu-item.menu-item-has-children {
	position: relative;
}

.footer-menu .footer-nav__item.has-children:after,
.footer-menu .footer-nav__item.menu-item-has-children:after,
.footer-menu .footer-nav .menu-item.has-children:after,
.footer-menu .footer-nav .menu-item.menu-item-has-children:after,
.footer-menu #menu-footer__item.has-children:after,
.footer-menu #menu-footer__item.menu-item-has-children:after,
.footer-menu #menu-footer .menu-item.has-children:after,
.footer-menu #menu-footer .menu-item.menu-item-has-children:after {
	display: block;
	content: "";
	height: 0;
	width: 0;
	border-top: 6px solid #1ba7a6;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	position: absolute;
	right: 13px;
	top: 22px;
	margin-top: -4px;
}

.footer-menu .footer-nav .child-nav,
.footer-menu .footer-nav .sub-menu,
.footer-menu #menu-footer .child-nav,
.footer-menu #menu-footer .sub-menu {
	list-style: none;
	margin: 0;
	padding: 0;
	max-height: 0;
	overflow: hidden;
	-webkit-transition: 0.15s ease-out all;
	-o-transition: 0.15s ease-out all;
	transition: 0.15s ease-out all;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
}

.footer-menu .footer-nav .child-nav.open,
.footer-menu .footer-nav .sub-menu.open,
.footer-menu #menu-footer .child-nav.open,
.footer-menu #menu-footer .sub-menu.open {
	max-height: 2000px;
}

.footer-menu .footer-nav .child-nav .footer-nav__item--child-item,
.footer-menu .footer-nav .sub-menu .footer-nav__item--child-item,
.footer-menu #menu-footer .child-nav .footer-nav__item--child-item,
.footer-menu #menu-footer .sub-menu .footer-nav__item--child-item {
	border-top: 2px solid #ffffff;
}

.footer-menu .footer-nav .child-nav a,
.footer-menu .footer-nav .sub-menu a,
.footer-menu #menu-footer .child-nav a,
.footer-menu #menu-footer .sub-menu a {
	color: #ffffff;
	font-weight: 700;
	text-transform: uppercase;
	display: block;
	padding: 10px 30px;
}

.footer-menu .footer-nav .child-nav a:hover,
.footer-menu .footer-nav .child-nav a:active,
.footer-menu .footer-nav .sub-menu a:hover,
.footer-menu .footer-nav .sub-menu a:active,
.footer-menu #menu-footer .child-nav a:hover,
.footer-menu #menu-footer .child-nav a:active,
.footer-menu #menu-footer .sub-menu a:hover,
.footer-menu #menu-footer .sub-menu a:active {
	background: #dbb326;
}

.footer-menu .footer-nav a,
.footer-menu #menu-footer a {
	color: #1ba7a6;
	font-weight: 700;
	text-transform: uppercase;
	display: block;
	padding: 10px 30px;
}

.footer-menu .footer-nav a:hover,
.footer-menu .footer-nav a:active,
.footer-menu #menu-footer a:hover,
.footer-menu #menu-footer a:active {
	background: #d8d8d8;
}

.footer-copyright {
	padding: 5px 0;
	text-align: center;
	background: #0873ba;
	color: #ffffff;
}

form {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

form .title {
	color: #0873ba;
	font-size: 2em;
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 100%;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
}

form .full {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 100%;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
}

form input,
form textarea {
	border-radius: 8px;
	border: 1px solid #979797;
	padding: 1em 1.5em;
	text-transform: uppercase;
	color: #1ba7a6;
	font-weight: 700;
	letter-spacing: 3px;
	margin-bottom: 1em;
}

form input::-webkit-input-placeholder,
form textarea::-webkit-input-placeholder {
	text-transform: uppercase;
	color: #1ba7a6;
	font-weight: 700;
	letter-spacing: 3px;
}

form input::-ms-input-placeholder,
form textarea::-ms-input-placeholder {
	text-transform: uppercase;
	color: #1ba7a6;
	font-weight: 700;
	letter-spacing: 3px;
}

form input::placeholder,
form textarea::placeholder {
	text-transform: uppercase;
	color: #1ba7a6;
	font-weight: 700;
	letter-spacing: 3px;
}

form input[type="submit"],
form button[type="submit"] {
	border-radius: 8px;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 0.8rem;
	letter-spacing: 4px;
	padding: 7px 25px;
	display: inline-block;
	background-color: #dbb326;
	-webkit-transition: 0.1s ease-out all;
	-o-transition: 0.1s ease-out all;
	transition: 0.1s ease-out all;
	border: 0;
	padding: 1em 1.5em;
	cursor: pointer;
}

form input[type="submit"]:hover,
form button[type="submit"]:hover {
	background-color: #b1901d;
}

/*------------------------------------------------------------------------------
  Header
------------------------------------------------------------------------------*/

.header {
	background-size: cover;
	padding: 2em;
}

.header .eyebrow {
	display: none;
}

.header .main .container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.header .logo {
	text-align: center;
}

.nav--toggle {
	height: 30px;
	width: 30px;
	cursor: pointer;
}

.nav--toggle .line {
	height: 4px;
	background: #ffffff;
	width: 100%;
}

.nav--toggle .line + .line {
	margin-top: 3px;
}

.nav--toggle.open .line:nth-child(1) {
	-webkit-transform: rotate(45deg) translateY(10px);
	-ms-transform: rotate(45deg) translateY(10px);
	transform: rotate(45deg) translateY(10px);
}

.nav--toggle.open .line:nth-child(2) {
	visibility: hidden;
}

.nav--toggle.open .line:nth-child(3) {
	-webkit-transform: rotate(-45deg) translateY(-9px);
	-ms-transform: rotate(-45deg) translateY(-9px);
	transform: rotate(-45deg) translateY(-9px);
}

nav.primary .primary-nav,
nav.primary #menu-header {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 111;
}

nav.primary .primary-nav__item.menu-item-has-children,
nav.primary .primary-nav .menu-item.menu-item-has-children,
nav.primary #menu-header__item.menu-item-has-children,
nav.primary #menu-header .menu-item.menu-item-has-children {
	position: relative;
}

nav.primary .primary-nav__item.menu-item-has-children .arrow,
nav.primary .primary-nav .menu-item.menu-item-has-children .arrow,
nav.primary #menu-header__item.menu-item-has-children .arrow,
nav.primary #menu-header .menu-item.menu-item-has-children .arrow {
	display: block;
	height: 40px;
	width: 30px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	cursor: pointer;
}

nav.primary .primary-nav__item.menu-item-has-children .arrow:after,
nav.primary .primary-nav .menu-item.menu-item-has-children .arrow:after,
nav.primary #menu-header__item.menu-item-has-children .arrow:after,
nav.primary #menu-header .menu-item.menu-item-has-children .arrow:after {
	content: "";
	height: 0;
	width: 0;
	border-top: 6px solid #ffffff;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	-webkit-transition: 0.1s ease-out all;
	-o-transition: 0.1s ease-out all;
	transition: 0.1s ease-out all;
}

nav.primary .primary-nav__item.open > a,
nav.primary .primary-nav .menu-item.open > a,
nav.primary #menu-header__item.open > a,
nav.primary #menu-header .menu-item.open > a {
	background: #dbb326;
}

nav.primary .primary-nav__item.open .sub-menu,
nav.primary .primary-nav .menu-item.open .sub-menu,
nav.primary #menu-header__item.open .sub-menu,
nav.primary #menu-header .menu-item.open .sub-menu {
	max-height: 2000px;
	background: #dbb326;
}

nav.primary .primary-nav__item.open .arrow:before,
nav.primary .primary-nav .menu-item.open .arrow:before,
nav.primary #menu-header__item.open .arrow:before,
nav.primary #menu-header .menu-item.open .arrow:before {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
	-webkit-transition: 0.1s ease-in all;
	-o-transition: 0.1s ease-in all;
	transition: 0.1s ease-in all;
}

nav.primary .child-nav,
nav.primary .sub-menu {
	list-style: none;
	margin: 0;
	padding: 0;
	max-height: 0;
	overflow: hidden;
	-webkit-transition: 0.15s ease-out all;
	-o-transition: 0.15s ease-out all;
	transition: 0.15s ease-out all;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
}

nav.primary .child-nav a,
nav.primary .sub-menu a {
	padding: 10px 5px;
	text-align: center;
	font-size: 0.875em;
	-webkit-transition: 0.1s ease-out all;
	-o-transition: 0.1s ease-out all;
	transition: 0.1s ease-out all;
}

nav.primary .child-nav a:hover,
nav.primary .sub-menu a:hover {
	background: rgba(0, 0, 0, 0.2);
	-webkit-transition: 0.1s ease-in all;
	-o-transition: 0.1s ease-in all;
	transition: 0.1s ease-in all;
}

nav.primary .child-nav .menu-item,
nav.primary .sub-menu .menu-item {
	border-top: 2px solid #ffffff;
}

nav.primary li:hover,
nav.primary li:active {
	background: #dbb326;
}

nav.primary a {
	color: #ffffff;
	font-weight: 700;
	text-transform: uppercase;
	display: block;
	padding: 10px 30px;
}

.hero {
	position: relative;
}

.hero:before {
	display: block;
	content: "";
	width: 100%;
	padding-top: 29.86111%;
}

.hero > .hero--text {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	color: #ffffff;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.hero > .hero--text .headline {
	font-size: 3.75em;
	margin: 0 0 10px;
}

.hero > .hero--text .subhead {
	font-family: proxima-nova, sans-serif;
	text-transform: uppercase;
	font-variant: small-caps;
	letter-spacing: 3px;
	font-weight: 700;
	font-size: 1.1875em;
}

.main-content {
	background: #d8d8d8;
	padding: 4em 1em;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

/*----------------------------------------------------------------------------
  WordPress Social Menu
  - make sure to include FontAwesome for this to work!
----------------------------------------------------------------------------*/

.menu-social ul {
	margin: 0;
	padding: 0;
	text-align: inherit;
	list-style: none;
}

.menu-social ul li {
	display: inline-block;
	position: relative;
	padding: 0 .625rem;
}

.menu-social ul li a {
	display: inline-block;
	text-align: center;
}

.menu-social ul li a:before {
	display: none;
	font-family: 'Font Awesome 5 Brands';
	color: blue;
}

.menu-social ul li a .svg-inline--fa {
	font-size: 1.875rem;
}

.menu-social ul li a:hover {
	color: purple;
}

.menu-social ul li a[href*="facebook.com"]::before {
	content: '\f09a';
}

.menu-social ul li a[href*="twitter.com"]::before {
	content: '\f099';
}

.menu-social ul li a[href*="dribbble.com"]::before {
	content: '\f17d';
}

.menu-social ul li a[href*="plus.google.com"]::before {
	content: '\f0d5';
}

.menu-social ul li a[href*="pinterest.com"]::before {
	content: '\f0d2';
}

.menu-social ul li a[href*="github.com"]::before {
	content: '\f09b';
}

.menu-social ul li a[href*="tumblr.com"]::before {
	content: '\f173';
}

.menu-social ul li a[href*="youtube.com"]::before {
	content: '\f167';
}

.menu-social ul li a[href*="flickr.com"]::before {
	content: '\f16e';
}

.menu-social ul li a[href*="vimeo.com"]::before {
	content: '\f194';
}

.menu-social ul li a[href*="instagram.com"]::before {
	content: '\f16d';
}

.menu-social ul li a[href*="linkedin.com"]::before {
	content: '\f0e1';
}

.menu-social ul li a[href*="yelp.com"]::before {
	content: '\f1e9';
}

.menu-social ul li a[href*="mailto:"]::before {
	content: '\f003';
}

.screen-reader-text {
	display: none;
}

.cta_block {
	border: 2px solid #d8d8d8;
	border-radius: 8px;
	padding: 4.5em 4em;
}

.cta_block.texture {
	background: url("../images/texture1.png") repeat;
	background-size: 100%;
}

.cta_block--withimage {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.cta_block--image {
	margin-right: 2em;
	margin-bottom: 2em;
	-webkit-box-flex: 0;
	-webkit-flex: 0 1 200px;
	-ms-flex: 0 1 200px;
	flex: 0 1 200px;
}

.cta_block--content-wrap {
	-webkit-box-flex: 0;
	-webkit-flex: 0 2 350px;
	-ms-flex: 0 2 350px;
	flex: 0 2 350px;
}

.cta_block--title {
	font-family: "Fjalla One", sans-serif;
	text-transform: uppercase;
	color: #1ba7a6;
	font-size: 2em;
}

.cta_block--content {
	margin: 1.5em 0;
}

.cta_block--content p {
	color: #525252;
	line-height: 1.5;
}

.ministries-carousel-intro .title {
	margin-bottom: 0;
}

.ministries-carousel-intro p {
	margin: .5em 0;
}

.flickity-page-dots {
	bottom: -10px;
}

.flickity-page-dots .dot {
	background: transparent;
	border: 1px solid #1ba7a6;
	opacity: 1;
}

.flickity-page-dots .dot.is-selected {
	background: #1ba7a6;
}

.ministries-carousel {
	padding: 0 0 2em;
	margin-bottom: 3em;
}

.ministries-carousel .flickity-slider {
	padding: 3em 0;
}

.ministries-carousel .flickity-prev-next-button {
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: transparent;
	border-radius: 0;
}

.ministries-carousel .flickity-prev-next-button.previous {
	background-image: url("../img/left-arrow.png");
}

.ministries-carousel .flickity-prev-next-button.next {
	background-image: url("../img/right-arrow.png");
}

.ministries-carousel .flickity-prev-next-button svg {
	display: none;
}

.ministries-carousel .ministry {
	width: 33%;
	height: 360px;
	-webkit-transition: .2s ease-in-out all;
	-o-transition: .2s ease-in-out all;
	transition: .2s ease-in-out all;
}

.ministries-carousel .ministry.is-selected {
	-webkit-transform: scale(1.25, 1.25) translateY(10px);
	-ms-transform: scale(1.25, 1.25) translateY(10px);
	transform: scale(1.25, 1.25) translateY(10px);
	z-index: 999;
}

.ministries-carousel .ministry.is-selected .ministry--link .overlay {
	display: none;
}

.ministries-carousel .ministry.is-selected .ministry--link .ministry--title {
	display: block;
}

.ministries-carousel .ministry--link {
	display: block;
	position: relative;
	background-position: center center;
	background-size: cover;
}

.ministries-carousel .ministry--link .overlay {
	background: #ffcf00;
	opacity: .85;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.ministries-carousel .ministry--link .ministry--title {
	display: none;
}

.ministries-carousel .ministry--link:before {
	display: block;
	content: "";
	width: 100%;
	padding-top: 75.04132%;
}

.ministries-carousel .ministry--link .ministry--content {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1em;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: flex-end;
	color: #ffffff;
	font-family: proxima-nova, sans-serif;
	text-transform: uppercase;
	font-variant: small-caps;
	letter-spacing: 3px;
	font-weight: 700;
	font-size: 1.4375em;
	letter-spacing: 6px;
	text-align: center;
	z-index: 99;
}

.ministries-carousel .ministry--teaser {
	display: none;
}

.ministries--block {
	position: relative;
}

.ministries--block__image {
	position: relative;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.ministries--block__image:before {
	display: block;
	content: "";
	width: 100%;
	padding-top: 88%;
}

.ministries--block__title {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
	font-family: "Fjalla One", sans-serif;
	text-transform: uppercase;
	letter-spacing: 5px;
	color: #ffffff;
	text-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.7);
	font-size: 1.7em;
	padding: 0 10%;
}

.ministries--block__link {
	background: #dbb326;
	text-align: center;
	padding: 5px 0;
	letter-spacing: 3px;
	font-weight: 700;
	text-transform: uppercase;
}

.ministries--block__link a {
	color: #ffffff;
}

.resource_library_cta {
	padding: 40px;
	-o-object-fit: contain;
	object-fit: contain;
	color: #ffffff;
	background-image: url("../img/texture2.png"), -o-linear-gradient(351deg, #1ba7a6, #1ba7a6 20%, #0672b9);
	background-image: url("../img/texture2.png"), linear-gradient(99deg, #1ba7a6, #1ba7a6 20%, #0672b9);
}

.resource_library_cta .resource_library_cta--title {
	font-family: "Fjalla One", sans-serif;
	text-transform: uppercase;
	font-size: 2em;
	margin-bottom: 5px;
}

.resource_library_cta .resource_library_cta--text a {
	color: #ffcf00;
	font-style: italic;
}

.resource_library_cta .resource_library_cta--button {
	padding-top: 1em;
}

.resource_library_cta .resource_library_cta--button a {
	text-align: center;
	border-radius: 8px;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 0.8rem;
	letter-spacing: 4px;
	padding: 7px 25px;
	display: inline-block;
	border: 2px solid #253b84;
	-webkit-transition: 0.1s ease-out all;
	-o-transition: 0.1s ease-out all;
	transition: 0.1s ease-out all;
	color: #ffffff;
}

.resource_library_cta .resource_library_cta--button a:hover {
	background: rgba(0, 0, 0, 0.2);
	-webkit-transition: 0.1s ease-in all;
	-o-transition: 0.1s ease-in all;
	transition: 0.1s ease-in all;
}

.resource--button {
	border-radius: 8px;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 0.8rem;
	letter-spacing: 4px;
	padding: 7px 25px;
	display: inline-block;
	border: 2px solid #1ba7a6;
	-webkit-transition: 0.1s ease-out all;
	-o-transition: 0.1s ease-out all;
	transition: 0.1s ease-out all;
	color: #0873ba;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.resource--button:hover {
	background: rgba(0, 0, 0, 0.2);
	-webkit-transition: 0.1s ease-in all;
	-o-transition: 0.1s ease-in all;
	transition: 0.1s ease-in all;
}

.resource--button:after {
	content: "";
	display: block;
	height: 24px;
	width: 24px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	margin-left: 5px;
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 24px;
	-ms-flex: 0 0 24px;
	flex: 0 0 24px;
}

.resource--button.pdf:after {
	background-image: url("../images/PDF.png");
}

.resource--button.link:after {
	background-image: url("../images/Links.png");
	height: 22px;
	width: 22px;
}

.resource--button.form:after {
	background-image: url("../images/Forms.png");
}

.service-times {
	padding: 40px;
	-o-object-fit: contain;
	object-fit: contain;
	color: #ffffff;
	background-image: -o-linear-gradient(351deg, #1ba7a6, #1ba7a6 20%, #0672b9);
	background-image: linear-gradient(99deg, #1ba7a6, #1ba7a6 20%, #0672b9);
}

.service-times .service-times__title {
	font-family: "Fjalla One", sans-serif;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-bottom: 1em;
	font-size: 1.8em;
	text-align: center;
}

.service-times .service-time {
	text-align: left;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.service-times .service-time + .service-time {
	margin-top: 2em;
}

.service-times .service-time .time {
	font-weight: 700;
	font-size: 1.75em;
	letter-spacing: 5px;
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: baseline;
	-webkit-align-items: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;
}

.service-times .service-time .time:before {
	background: url("../img/clock.png") no-repeat;
	background-size: contain;
	position: absolute;
	top: -7px;
	left: -40px;
	height: 50px;
	width: 50px;
	content: "";
	z-index: 1;
}

.service-times .service-time .time .time-detail {
	position: relative;
	z-index: 3;
}

.service-times .service-time .time .ampm {
	font-size: 1.25rem;
	position: relative;
	z-index: 3;
}

.service-times .service-time .title {
	color: #dbb326;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 3px;
	font-size: 0.8rem;
	padding: 0.5rem 0;
	position: relative;
	z-index: 3;
	text-align: center;
}

.staff--member {
	line-height: 1.5;
	color: #525252;
}

.staff--member__headshot img {
	display: block;
}

.staff--member__info {
	background: #f3f3f3;
	padding: 15px 10px;
}

.staff--member__name {
	font-family: proxima-nova, sans-serif;
	text-transform: uppercase;
	font-variant: small-caps;
	letter-spacing: 3px;
	font-weight: 700;
	color: #0873ba;
	font-size: 0.75em;
}

.staff--member__title {
	font-weight: 700;
	line-height: 2;
	font-size: 0.875em;
}

.staff--member__phones {
	font-size: 0.825em;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.staff--member__phones .staff--member__phone {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.staff--member__phones .staff--member__phone:before {
	background-size: contain;
	background-repeat: no-repeat;
	display: block;
	margin-right: 5px;
	height: 15px;
	width: 15px;
}

.staff--member__phones .mobile {
	margin-right: 5px;
}

.staff--member__phones .mobile:before {
	content: "";
	background-image: url("../images/Cell.png");
}

.staff--member__phones .office:before {
	content: "";
	background-image: url("../images/Phone.png");
}

.staff--member__email {
	font-size: 0.8125em;
	margin: 5px 0 0;
	font-weight: 550;
}

.staff--member__email a {
	color: #525252;
}

.staff--member__email a:hover {
	text-decoration: underline;
}

.staff--member__social {
	font-size: 0.875em;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	margin-top: 5px;
}

.staff--member__social-label {
	margin-right: 5px;
	font-weight: 550;
}

.staff--member__social-facebook {
	background: url("../images/Facebook.png") no-repeat;
	background-size: contain;
	height: 15px;
	width: 15px;
	display: block;
	text-indent: -999px;
	margin-right: 5px;
}

.staff--member__social-twitter {
	background: url("../images/Twitter.png") no-repeat;
	background-size: contain;
	height: 15px;
	width: 15px;
	display: block;
	text-indent: -999px;
}

/*----------------------------------------------------------------------------
  Plugin Overrides
----------------------------------------------------------------------------*/

@media (min-width: 600px) {

.footer-info {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.footer-info__logo {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 100%;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
}

.footer-info__address {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 45%;
	-ms-flex: 0 0 45%;
	flex: 0 0 45%;
	padding: 0 15px;
	margin-bottom: 0;
}

.footer-info__address .textwidget {
	padding-left: 20px;
}

.footer-info__buttons p {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 45%;
	-ms-flex: 0 0 45%;
	flex: 0 0 45%;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.footer-menu .menu-footer-container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.footer-menu .footer-nav,
.footer-menu #menu-footer {
	width: 70%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

.footer-menu .footer-nav__item.has-children a,
.footer-menu .footer-nav__item.menu-item-has-children a,
.footer-menu .footer-nav .menu-item.has-children a,
.footer-menu .footer-nav .menu-item.menu-item-has-children a,
.footer-menu #menu-footer__item.has-children a,
.footer-menu #menu-footer__item.menu-item-has-children a,
.footer-menu #menu-footer .menu-item.has-children a,
.footer-menu #menu-footer .menu-item.menu-item-has-children a {
	padding-left: 20px;
	padding-right: 40px;
}

form .half {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 49%;
	-ms-flex: 0 0 49%;
	flex: 0 0 49%;
}

.ministries {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}

.resource_library_cta {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.resource_library_cta .resource_library_cta--button {
	padding-top: 0;
	padding-left: 1em;
}

.resources--wrapper {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 1fr;
}

.staff {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}

}

@media (min-width: 700px) {

.service-times .service-times__wrapper {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.service-times .service-time {
	padding: 0 10px;
}

.service-times .service-time + .service-time {
	margin-top: 0;
}

}

@media (min-width: 800px) {

.main .container {
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.nav--toggle {
	display: none;
}

nav.primary {
	padding-top: 20px;
}

nav.primary .primary-nav,
nav.primary #menu-header {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

nav.primary .primary-nav__item > a,
nav.primary .primary-nav .menu-item-has-children > a,
nav.primary #menu-header__item > a,
nav.primary #menu-header .menu-item-has-children > a {
	padding-left: 20px;
	padding-right: 40px;
}

nav.primary .primary-nav__item .arrow,
nav.primary .primary-nav .menu-item-has-children .arrow,
nav.primary #menu-header__item .arrow,
nav.primary #menu-header .menu-item-has-children .arrow {
	position: absolute;
	right: 0;
	top: 0;
}

}

@media (min-width: 900px) {

.header .eyebrow {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.header .logo {
	max-width: 440px;
}

.main-content .inner {
	width: 80%;
}

.ministries-carousel-intro {
	width: 41%;
	margin: 0 auto;
}

.ministries {
	grid-template-columns: 1fr 1fr 1fr;
}

.resources--wrapper {
	grid-template-columns: 1fr 1fr 1fr;
}

.staff {
	grid-template-columns: 1fr 1fr 1fr;
}

}

@media (min-width: 1200px) {

.footer-info {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.footer-info__logo {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 25%;
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	margin-bottom: 0;
}

.footer-info__logo img {
	max-width: 100%;
}

.footer-info__address {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 35%;
	-ms-flex: 0 0 35%;
	flex: 0 0 35%;
	padding: 0;
}

.footer-info__buttons {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 40%;
	-ms-flex: 0 0 40%;
	flex: 0 0 40%;
}

.service-times {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.service-times .service-times__title {
	margin-bottom: 0;
	-webkit-box-flex: 0;
	-webkit-flex: 0 1 30%;
	-ms-flex: 0 1 30%;
	flex: 0 1 30%;
	text-align: left;
}

.service-times .service-times__wrapper {
	-webkit-box-flex: 2;
	-webkit-flex-grow: 2;
	-ms-flex-positive: 2;
	flex-grow: 2;
}

}

@media (max-width: 799px) {

.nav--toggle {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 40px;
	z-index: 90;
	background: #253b84;
	padding: 10px 0 0;
}

.nav--toggle .line {
	width: 30px;
	margin: 0 auto;
}

header .logo {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 100%;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	padding: 20px 0;
}

header .logo img {
	max-width: 300px;
	margin: 0 auto;
}

nav.primary {
	padding-top: 40px;
	position: absolute;
	top: 0;
	left: 100%;
	right: 0;
	bottom: 0;
	z-index: 88;
	background: #dbb326;
	-webkit-transition: 0.1s ease-out all;
	-o-transition: 0.1s ease-out all;
	transition: 0.1s ease-out all;
}

nav.primary.open {
	left: 0;
	-webkit-transition: 0.1s ease-in all;
	-o-transition: 0.1s ease-in all;
	transition: 0.1s ease-in all;
}

nav.primary.open .primary-nav .menu-item.menu-item-has-children .arrow,
nav.primary.open #menu-header .menu-item.menu-item-has-children .arrow {
	position: absolute;
	right: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.2);
}

nav.primary .primary-nav > .menu-item,
nav.primary #menu-header > .menu-item {
	border-bottom: 2px solid #ffffff;
}

nav.primary .primary-nav > .menu-item:hover,
nav.primary #menu-header > .menu-item:hover {
	background: rgba(0, 0, 0, 0.2);
}

nav.primary .primary-nav > .menu-item.open .child-nav a,
nav.primary .primary-nav > .menu-item.open .sub-menu a,
nav.primary #menu-header > .menu-item.open .child-nav a,
nav.primary #menu-header > .menu-item.open .sub-menu a {
	background: rgba(0, 0, 0, 0.3);
}

nav.primary .primary-nav > .menu-item.open .child-nav a:hover,
nav.primary .primary-nav > .menu-item.open .sub-menu a:hover,
nav.primary #menu-header > .menu-item.open .child-nav a:hover,
nav.primary #menu-header > .menu-item.open .sub-menu a:hover {
	background: transparent;
}

nav.primary .child-nav,
nav.primary .sub-menu {
	position: static;
}

nav.primary .child-nav a,
nav.primary .sub-menu a {
	text-align: left;
	padding: 10px 30px;
}

}

@media (max-width: 599px) {

.ministries--block + .ministries--block {
	margin-top: 2em;
}

.staff--member__headshot img {
	width: 100%;
}

}

