.cta--wrapper {
  margin: 2em 0;

  .cta_block {
    margin: 0 15px 2em;
  }

  @include breakpoint(tablet-land) {
    display: flex;
    margin: 2em 0;

    .cta_block {
      flex: 1 0 50%;
      margin: 0 15px;
    }
  }
}

.cta_block {
  border: 2px solid $color-grey-d8;
  border-radius: 8px;
  padding: 4.5em 4em;

  &--textured {
    background: url("../img/texture1.png") repeat;
    background-size: 100%;
  }

  &--image {
    margin-right: 2em;
    margin-bottom: 2em;
  }

  &--centered {
    text-align: center;
  }

  &--title {
    @include heading-style;
    color: $color-brand-highlight;
    font-size: 2em;
  }
  &--content {
    margin: 1.5em 0;
    color: $color-text-light;
    line-height: 1.5;

    p {
      color: $color-text-light;
      line-height: 1.5;
    }
  }

  .button--solid {
    &.Wave {
      &:after {
        margin-left: 10px;
        content: "";
        display: block;
        height: 40px;
        width: 40px;
        background-image: url("../img/hand.png");
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
      }
    }

    &.Listen {
      &:after {
        margin-left: 10px;
        content: "";
        display: block;
        height: 40px;
        width: 40px;
        background-image: url("../img/ear.png");
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
      }
    }
  }

  @include breakpoint(tablet-port) {
    &--withimage {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;

      .cta_block--image {
        flex: 0 0 150px;
        margin: 0;
      }

      .cta_block--content-wrap {
        flex: 1;
        padding-left: 20px;
      }
    }
  }
}
