.resource_library_cta {
  padding: 40px;
  object-fit: contain;
  color: $color-white;
  background-image: url("../img/texture2.png"), $gradient-linear;

  &--title {
    @include heading-style();
    font-size: 2em;
    margin-bottom: 5px;
  }

  &--text a {
    color: $color-brand-secondary-bright;
    font-style: italic;
  }

  &--button {
    padding-top: 1em;

    a {
      text-align: center;
      @include button-outline($color-blue-dark);
      color: $color-white;

      &:hover {
        background: rgba($color-blue-dark, 0.7);
      }
    }
  }

  @include breakpoint(tablet-port) {
    &--wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    &--button {
      padding-top: 0;
      padding-left: 1em;
    }
  }
  @media (min-width: 1400px) {
    display: flex;
    justify-content: center;

    &--wrapper {
      max-width: 1400px;
    }
  }
}
