.resource_library_cta {
  padding: 40px;
  object-fit: contain;
  color: $color-white;
  background-image: url("../img/texture.png"), $gradient-linear;

  .resource_library_cta--title {
    @include heading-style();
    font-size: 2em;
    margin-bottom: 5px;
  }

  .resource_library_cta--text a {
    color: $color-brand-secondary-bright;
    font-style: italic;
  }

  .resource_library_cta--button {
    padding-top: 1em;
  }

  .resource_library_cta--button a {
    text-align: center;
    @include button-outline($color-blue-dark);
    color: $color-white;
  }

  @include breakpoint(tablet-port) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .resource_library_cta--button {
      padding-top: 0;
      padding-left: 1em;
    }
  }
}
