.resources--wrapper {
  margin-bottom: 80px;

  @include breakpoint(tablet-port) {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
  }
  @include breakpoint(tablet-land) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.resource--button {
  @include button-outline($color-brand-highlight);
  color: $color-brand-primary;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 599px) {
    + .resource--button {
      margin-top: 1em;
    }
  }

  &:after {
    content: "";
    display: block;
    height: 24px;
    width: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin-left: 5px;
    flex: 0 0 24px;
  }

  &.pdf {
    &:after {
      background-image: url("../img/pdf.png");
    }
  }
  &.link {
    &:after {
      background-image: url("../img/links.png");
      height: 22px;
      width: 22px;
    }
  }
  &.form {
    &:after {
      background-image: url("../img/forms.png");
    }
  }
}

.resources-media {
  .flickity-page-dots {
    bottom: -40px;
  }
}
