.service-times {
  padding: 40px;
  object-fit: contain;
  color: $color-white;
  background-image: $gradient-linear;

  .service-times__title {
    @include heading-style-wide;
    margin-bottom: 1em;
    font-size: 1.8em;
    text-align: center;
  }

  .service-time {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    + .service-time {
      margin-top: 2em;
    }

    .time {
      font-weight: 700;
      font-size: 1.75em;
      letter-spacing: 5px;
      position: relative;
      display: flex;
      align-items: baseline;

      &:before {
        background: url("../img/clock.png") no-repeat;
        background-size: contain;
        position: absolute;
        top: -7px;
        left: -40px;
        height: 50px;
        width: 50px;
        content: "";
        z-index: 1;
      }

      .time-detail {
        position: relative;
        z-index: 3;
      }

      .ampm {
        font-size: 1.25rem;
        position: relative;
        z-index: 3;
      }
    }

    .title {
      color: $color-brand-secondary;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 3px;
      font-size: 0.8rem;
      padding: 0.5rem 0;
      position: relative;
      z-index: 3;
      text-align: center;
    }
  }

  @media (min-width: 700px) {
    .service-times__wrapper {
      display: flex;
      justify-content: space-between;
    }

    .service-time {
      padding: 0 10px;
      + .service-time {
        margin-top: 0;
      }
    }
  }

  @include breakpoint(desktop) {
    display: flex;
    align-items: center;

    .service-times__title {
      margin-bottom: 0;
      flex: 0 1 30%;
      text-align: left;
    }
    .service-times__wrapper {
      flex-grow: 2;
    }
  }
}
