<div class="staff">
  <div class="staff--member">
    <div class="staff--member__headshot">
      <img src="../assets/images/Staff/Jenny Walls.jpg" alt="Placeholder" />
    </div>
    <div class="staff--member__info">
      <div class="staff--member__name">Ryan Strebeck</div>
      <div class="staff--member__title">Pastor</div>
      <div class="staff--member__phones">
        <div class="staff--member__phone mobile">325-236-1800</div>
        <div class="staff--member__phone office">325-236-6617</div>
      </div>
      <div class="staff--member__email">
        <a href="mailto:rstrebeck@fumcsweetwater.org"
          >rstrebeck@fumcsweetwater.org</a
        >
      </div>
      <div class="staff--member__social">
        <div class="staff--member__social-label">Connect with on</div>
        <div class="staff--member__social-facebook">Facebook</div>
        <div class="staff--member__social-twitter">Twitter</div>
      </div>
    </div>
  </div>
  <div class="staff--member">
    <div class="staff--member__headshot">
      <img src="../assets/images/Staff/Ryan Strebeck.jpg" alt="Placeholder" />
    </div>
    <div class="staff--member__info">
      <div class="staff--member__name">Ryan Strebeck</div>
      <div class="staff--member__title">Pastor</div>
      <div class="staff--member__phones">
        <div class="staff--member__phone mobile">325-236-1800</div>
        <div class="staff--member__phone office">325-236-6617</div>
      </div>
      <div class="staff--member__email">
        <a href="mailto:rstrebeck@fumcsweetwater.org"
          >rstrebeck@fumcsweetwater.org</a
        >
      </div>
      <div class="staff--member__social">
        <div class="staff--member__social-label">Connect with on</div>
        <div class="staff--member__social-facebook">Facebook</div>
        <div class="staff--member__social-twitter">Twitter</div>
      </div>
    </div>
  </div>
  <div class="staff--member">
    <div class="staff--member__headshot">
      <img
        src="../assets/images/Staff/Terry Hendley (1).jpg"
        alt="Placeholder"
      />
    </div>
    <div class="staff--member__info">
      <div class="staff--member__name">Ryan Strebeck</div>
      <div class="staff--member__title">Pastor</div>
      <div class="staff--member__phones">
        <div class="staff--member__phone mobile">325-236-1800</div>
        <div class="staff--member__phone office">325-236-6617</div>
      </div>
      <div class="staff--member__email">
        <a href="mailto:rstrebeck@fumcsweetwater.org"
          >rstrebeck@fumcsweetwater.org</a
        >
      </div>
      <div class="staff--member__social">
        <div class="staff--member__social-label">Connect with on</div>
        <div class="staff--member__social-facebook">Facebook</div>
        <div class="staff--member__social-twitter">Twitter</div>
      </div>
    </div>
  </div>
</div>
