<footer class="footer">
  <div class="footer-info">
    <div class="footer-info__logo">
      <img src="assets/images/logo2.png" alt="First Methodist Church" />
    </div>
    <div class="footer-info__address">
      309 Cedar St.<br />
      Sweetwater, Tx 79556<br />
      (325) 236-6617<br />
      <a href="mailto:info@fumcsweetwater.org">info@fumcsweetwater.org</a>
    </div>
    <div class="footer-info__buttons">
      <a class="facebook" href="#">Facebook</a>
      <a class="button--outline__dark">I'm New Here</a>
    </div>
  </div>
  <div class="footer-menu">
    <ul class="footer-nav">
      <li class="footer-nav__item has-children">
        <a href="#">About</a>
        <ul class="child-nav">
          <li class="footer-nav__item--child-item">
            <a href="#">Contact Us</a>
          </li>
          <li class="footer-nav__item--child-item"><a href="#">About Us</a></li>
          <li class="footer-nav__item--child-item">
            <a href="#">Leadership</a>
          </li>
        </ul>
      </li>
      <li class="footer-nav__item has-children">
        <a href="#">Connect</a>
        <ul class="child-nav">
          <li class="footer-nav__item--child-item">
            <a href="#">Ministries</a>
          </li>
          <li class="footer-nav__item--child-item"><a href="#">Events</a></li>
        </ul>
      </li>
      <li class="footer-nav__item"><a href="#">Resource</a></li>
      <li class="footer-nav__item"><a href="#">Give</a></li>
      <li class="footer-nav__item"><a href="#">Privacy Policy</a></li>
    </ul>
  </div>
  <div class="footer-copyright">
    <p>
      Copyright © 2018 | <strong>Crafted with Care</strong> <em>by</em>
      <strong>Primitive Social</strong>
    </p>
  </div>
</footer>
