<form id="contact" action="" method="post">
  <h3 class="title">Contact Us</h3>
  <input
    placeholder="Name"
    class="half"
    type="text"
    tabindex="1"
    required
    autofocus
  />
  <input placeholder="Phone" class="half" type="tel" tabindex="2" required />
  <input placeholder="Email" class="full" type="email" tabindex="3" required />
  <textarea placeholder="Message" class="full" tabindex="4" required></textarea>

  <button
    name="submit"
    type="submit"
    id="contact-submit"
    data-submit="...Sending"
  >
    Submit
  </button>
</form>
