.error-404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .error--title {
    font-size: 6.25em;
    color: $color-brand-primary;
    font-weight: bold;
    letter-spacing: 10px;
  }

  .oops {
    font-weight: bold;
    color: $color-text-light;
    text-transform: uppercase;
    font-size: 1.688em;
    letter-spacing: 4px;
    margin-top: 0.5em;
  }

  .error--message {
    margin-bottom: 2em;
    &:after {
      content: "";
      height: 1px;
      width: 100%;
      background: rgba($color-brand-highlight, 0.4);
      display: block;
    }
    p {
      font-weight: 700;
      font-size: 0.938em;
      color: $color-text-light;
      margin: 2em 0;
      padding: 0 4em;
    }
  }
}
