.hero {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: (43 / 144) * 100%;
  }
  > .hero--text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-white;
    flex-direction: column;

    .headline {
      font-size: 2.75em;
      margin: 0 0 10px;
      color: $color-white;
      text-align: center;
    }

    .subhead {
      @include heading-style-sub;
      font-size: 1.1875em;
      max-width: 95%;
      text-align: center;
    }
  }

  &.internal {
    > .hero--text {
      justify-content: flex-end;
      align-items: center;
    }
  }

  &.short {
    &:before {
      padding-top: (11 / 72) * 100%;
    }
  }

  &.post {
    > .hero--text {
      justify-content: flex-end;
      align-items: center;
    }
  }

  @include breakpoint(tablet-port) {
    > .hero-text {
      .headline {
        font-size: 3.75em;
      }
    }
  }
  @media (min-width: 800px) {
    > .hero--text {
      .subhead {
        max-width: 70%;
      }
    }
    &.internal {
      > .hero--text {
        align-items: flex-end;

        .subhead {
          max-width: none;
        }
      }
    }
    &.short {
      > .hero--text {
        .subhead {
          max-width: none;
        }
      }
    }
  }
}
