.main-content {
  background: rgba($color-grey-90, 0.1);
  padding: 4em 1em;
  display: flex;
  justify-content: center;

  &--plain {
    background: transparent;
  }

  .inner {
    p {
      text-align: justify;
    }
  }

  .inner,
  .inner--wide {
    flex: 0 0 100%;

    h2,
    h3 {
      margin-top: 0;
    }
  }

  @include breakpoint(tablet-land) {
    .inner {
      flex: 0 0 80%;

      p {
        text-align: left;
      }
    }

    .inner--wide {
      flex: 0 0 90%;
    }
  }
}
