.main-content {
    background: rgba($color-grey-90, .1);
    padding: 4em 1em;
    display: flex;
    justify-content: center;

    @include breakpoint(tablet-land) {
        .inner {
            width: 80%;
        }
    }
}