<div class="service-times">
  <div class="service-times__title">Service Times</div>
  <div class="service-times__wrapper">
    <div class="service-time">
      <div class="time">
        <span class="time-detail">8:50</span><span class="ampm">AM</span>
      </div>
      <div class="title">traditional worship</div>
    </div>
    <div class="service-time">
      <div class="time">
        <span class="time-detail">9:50</span><span class="ampm">AM</span>
      </div>
      <div class="title">Sunday School</div>
    </div>
    <div class="service-time">
      <div class="time">
        <span class="time-detail">10:50</span><span class="ampm">AM</span>
      </div>
      <div class="title">modern worship</div>
    </div>
  </div>
</div>
